{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block heading%}
{% include 'incs/nav_post.html' %}
{% endblock %}  
<!-- Page Content -->   
    {% block content %}    
    <section class="contact-us">
      <div class="container">
        <div class="row">        
          <div class="col-lg-12">
            <div class="down-contact">
              <div class="row">
                <div class="col-lg-8">
                  <div class="sidebar-item contact-form">
                    <div class="sidebar-heading">
                      <h2>Send us a message</h2>
                    </div>
                    <div class="content">                     
                      <form id="contact" action="" method="post"  novalidate>
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            {{ form.name|as_crispy_field }}
                          </div>
                          <div class="col-md-6 col-sm-12">
                            {{ form.email|as_crispy_field }}
                          </div>
                          <div class="col-md-12 col-sm-12">
                            {{ form.subject|as_crispy_field }}
                          </div>
                          <div class="col-lg-12">
                            {{ form.message|as_crispy_field }}
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-button">Send Message</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="sidebar-item contact-information">
                    <div class="sidebar-heading">
                      <h2>contact information</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li>
                          <h5 id="phone" name="phone"></h5>
                          <span>PHONE NUMBER</span>
                        </li>
                        <li>
                          <h5 id="mail" name="mail"></h5>
                          <span>EMAIL ADDRESS</span>
                        </li>
                        <li>
                          <h5 id="adresse" name="adresse"></h5>
                          <span>STREET ADDRESS</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-12">
            <div id="map">
              <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
          
        </div>
      </div>
    </section>

    {% endblock %}
    {% block footer %}
    {% include 'incs/footer_post.html' %}    
    {% endblock %}
    {% block scripts %}
    <script>
    $.ajax({
      type:'GET',
      url : '/blog/info',
      dataType: 'JSON',
      success: function(data){        
          const info = data[0]
          $('#phone').text(info.phone)
          $('#mail').text(info.mail)
          var element = document.getElementById("adresse");
          element.innerHTML = info.adresse + ',<br>'+ info.complement
      },
      error: function(error){
          console.log(error)
      }
  });
</script>
    {% endblock %}