{% extends 'base.html' %}
{% load static %} 
{% block content %}
<!-- Page Content -->  
<section class="about-us">
    <div class="container">      	
      <div class="row">
        <div class="col-lg-12">
          <img src="{% static 'images/maquette.jpg' %}" alt="">
          <p>Although Python provides a mail sending interface via the smtplib module, Django provides a couple of light
            wrappers over it. These wrappers are provided to make sending email extra quick, to help test email sending
            during development, and to provide support for platforms that can’t use SMTP.</p>
        </div>
      </div>      
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            {% for soc in socials %}
            <li><a href="{{ soc.link }}"><i class="fab fa-{{ soc.title|lower }}"></i></a></li>
            {% endfor %}              
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


